
.headinglogo{
    color: #050505;
    justify-self: start;
    margin-left: 20px;
    margin-top: 30px;
    cursor: pointer;
    text-decoration: none;
    font-size: 3rem;
    display: flex;
    align-items: center;
    font-family: 'Righteous', cursive;
    }